@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

#origemG {
    width: 100%;
    height: 85%;
}

#agenteG {
    width: 100%;
    height: 90%;
}

#statusG {
    width: 100%;
    height: 90%;
}

#contagemG {
    width: 100%;
    height: 90%;
}

h1 {
    font-family: "Russo One", serif;
    font-weight: 400;
    font-size: 20pt;
}

h2 {
    font-family: "Montserrat", serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#container {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1350px;
}

#divisoria1 {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#divisoria2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#divisoria3 {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#origem {
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    text-align: center;
}

#agente {
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    text-align: center;
}

#status {
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    text-align: center;
}

#contagem {
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    text-align: center;
}

#tabela {
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    width: 1220px;
    height: 400px;
    text-align: center; 
}

#chart1 {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

#chart2 {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

#chart3 {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

#chart4 {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 350px;
}